<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="movements-dm">
  <template>
    <cells-generic-dp
      id="getMovements"
      host="http://localhost:3000"
      method="GET"
      on-request-success="_onRequestSuccessMovements"
      on-request-error="_onRequestErrorMovements">
    </cells-generic-dp>
    <cells-generic-dp
      id="postNewMovement"
      host="http://localhost:3000"
      path="goliathnationalbank/v1/accounts"
      method="POST"
      on-request-success="_onRequestSuccessNewMovement"
      on-request-error="_onRequestErrorNewMovement">
    </cells-generic-dp>

  </template>

  <script>
    {
      class MovementsDM extends Polymer.Element {
        static get is() {
          return 'movements-dm';
        }

        static get properties() {
          return {
            iban: {
              type: String
            },
            userId: {
              type: Number
            }
          };
        }

        _onRequestSuccessMovements(data) {
          console.log('_onRequestSuccessMovements: ');
          console.log(data);
          var info = {'data': data, 'userId': this.userId, 'iban': this.iban};
          console.log(info);
          this.dispatchEvent(new CustomEvent('doGetMovements-success', {detail: info}));
        }

        _onRequestErrorMovements(error) {
          console.log('_onRequestErrorMovements');
          this.dispatchEvent(new CustomEvent('doGetMovements-error', error));
        }

        doGetMovements(data) {
          console.log('doGetMovements');
          console.log(data);
          this.iban = data.productId.iban;
          this.userId = data.productId.userId;
          this.$.getMovements.path = 'apitechu/v2/accounts/' + data.productId.iban + '/movements';
          this.$.getMovements.generateRequest();
          this.dispatchEvent(new Event('doGetMovements-start'));
        }

        _onRequestSuccessNewAccount(data) {
          console.log('data: ' + data);
          var info = {'data': data, 'iban': this.iban};
          this.dispatchEvent(new CustomEvent('doPostNewAccount-success', {detail: info}));
        }

        _onRequestErrorNewAccount(error) {
          console.log('error: ' + error);
          this.dispatchEvent(new CustomEvent('doPostNewAccount-error', error));
        }

        doPostNewMovement(data) {
          console.log('doPostNewMovement');
          console.log(data);
          var account = {
            'userId': this.userIdGlob
          };
          console.log('UserIdGlob: ' + account.userId);
          this.$.postNewAccount.body = JSON.stringify(account);
          this.$.postNewAccount.generateRequest();
          this.dispatchEvent(new Event('doPostNewAccount-start'));
        }

        _onRequestSuccessLogout(data) {
          console.log('_onRequestSuccessLogout: ');
          console.log(data);
          this.userIdGlob = null;
          this.dispatchEvent(new CustomEvent('doPostLogout-success', data));
        }

        _onRequestErrorLogout(error) {
          console.log('_onRequestErrorLogout: ');
          console.log(error);
          this.dispatchEvent(new CustomEvent('doPostLogout-error', error));
        }

        doPostLogout(data) {
          console.log('doPostLogout. UserIdGlob: ' + this.userIdGlob);
          /*var user = {
            'userId': this.userIdGlob
          };*/
          this.$.postLogout.path = 'apitechu/v2/logout/' + this.userIdGlob;
          this.$.postLogout.body = '{}';
          this.$.postLogout.generateRequest();
          /*this.dispatchEvent(new Event('doPostLogout-start'));*/
        }
      }

      customElements.define(MovementsDM.is, MovementsDM);
    }
  </script>
</dom-module>
