<link rel="import" href="../../../components/cells-product-item-list/cells-product-item-list.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="stocks-vw">
  <template is="dom-bind" id="stocks">
    <cells-generic-dp
      id="stocksDp"
      host="https://api.iextrading.com"
      method="GET"
      on-request-success="_onRequestSuccess"
      on-request-error="_onRequestError">
    </cells-generic-dp>

    <template is="dom-if" if="[[error]]">
      <div>
        <cells-icon-message
            type='warning'
            icon="coronita:alert"
            icon-label="Warning"
            icon-size="26"
            message="[[error]]">
        </cells-icon-message>
      </div>
    </template>

    <cells-product-item-list id="listStocks" items="[[stocks]]" balance="[[balance]]" loading></cells-product-item-list>

    <center>
      <cells-st-button>
        <button on-click="_onPosicionGlobal" >
          <iron-icon icon="coronita:back"></iron-icon>
          Posición Global
        </button>
      </cells-st-button>
    </center>

  </template>

  <script>
    {
      class StocksVw extends Polymer.Element {
        static get is() {
          return 'stocks-vw';
        }

        static get properties() {
          return {
            stocks: {
              type: Object,
              value: []
            },
            balance: {
              type: Object
            },
            symbolIndex: {
              type: Number
            },
            symbols: {
              type: Array,
              value: ['FB', 'AAPL', 'GOOGL', 'AMZN', 'SAN', 'BBVA', 'TEF', 'PBR', 'KO', 'MT']
            },
            stockNames: {
              type: Array,
              value: ['Facebook Inc.', 'Apple Inc.', 'Alphabet Inc.', 'Amazon.com Inc.', 'Banco Santander S.A.', 'Banco Bilbao Vizcaya Argentaria S.A.', 'Telefonica SA', 'Petroleo Brasileiro S.A.- Petrobras', 'Coca-Cola Company (The)', 'Arcelor Mittal']
            },
            error: {
              type: String
            },
            userId: {
              type: Number
            },
            iban: {
              type: String
            }
          };
        }

        getStocks(data) {
          console.log('getStocks');
          console.log(data);
          this.userId = data.userId;
          this.iban = data.iban;
          this.symbolIndex = 0;
          this.$.stocksDp.path = '1.0/stock/' + this.symbols[this.symbolIndex] + '/price';
          this.$.stocksDp.generateRequest();
          this.dispatchEvent(new Event('doGetStocks-start'));
        }


        _onRequestSuccess(data) {
          console.log('_onRequestSuccess: ');
          console.log(data);
          this.pushStock(this.symbols[this.symbolIndex], this.stockNames[this.symbolIndex], data.detail);
          this.symbolIndex = this.symbolIndex + 1;
          if (this.symbolIndex < 10) {
            this.$.stocksDp.path = '1.0/stock/' + this.symbols[this.symbolIndex] + '/price';
            this.$.stocksDp.generateRequest();
          } else {
            this.$.listStocks.loading = false;
            this.dispatchEvent(new CustomEvent('doGetStocks-success', data));
          }
        }

        pushStock(symbol, stockName, price) {
          var stock = {
            'description': {
              'value': stockName,
              'masked': false
            },
            'id': {'symbol': symbol, 'price': price, 'stockName': stockName, 'userId': this.userId, 'iban': this.iban},
            'name': symbol,
            'primaryAmount': {
              'amount': price,
              'currency': 'USD',
              'label': 'precio/acción'
            },
            'scale': 0,
            'status': {
              'id': 'ACTIVATED',
              'description': 'ACTIVATED'
            }
          };
          this.stocks.push(stock);
        }

        _onRequestError(error) {
          console.log('_onRequestError');
          console.log(error);
          if (error === null || error.msg === null) {
            this.error = 'Se ha producido un error técnico. Por favor, vuelve a intentarlo más tarde';
          } else {
            this.error = error.msg;
          }
          this.dispatchEvent(new CustomEvent('doGetStocks-error', error));
        }

        _onPosicionGlobal() {
          this.error = null;
          this.dispatchEvent(new Event('goAccounts'));
        }
      }
      customElements.define(StocksVw.is, StocksVw);
    }
  </script>
</dom-module>
