<link rel="import" href="../../../components/cells-movements-list-item/cells-movements-list-item.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">

<dom-module id="movements-vw">
  <template is="dom-bind" id="movements">
    <style>
    </style>
    <template is="dom-if" if="[[error]]">
      <div>
        <cells-icon-message
            type='warning'
            icon="coronita:alert"
            icon-label="Warning"
            icon-size="26"
            message="[[error]]">
        </cells-icon-message>
      </div>
    </template>

    <template is="dom-repeat" items="{{movements}}">
      <cells-movements-list-item
        date={{item.timestamp}}
        label={{item.label}}
        description={{item.desc}}
        parsed-amount={{item.amount}}
        parsed-accounting-balance={{item.accountAmount}}
        category={{item.categoryCode}}
        category-description={{item.categoryDesc}}>
      </cells-movements-list-item>
    </template>

    <p></p>
      <center>
      <cells-st-button>
        <button on-click="_onNewMovement">
          <iron-icon icon="coronita:add"></iron-icon>
          Crear Movimiento
        </button>
      </cells-st-button>

      <cells-st-button>
        <button on-click="_onPosicionGlobal" >
          <iron-icon icon="coronita:back"></iron-icon>
          Posición Global
        </button>
      </cells-st-button>
    </center>
  </template>

  <script>
    {
      class MovementsVw extends Polymer.Element {
        static get is() {
          return 'movements-vw';
        }

        static get properties() {
          return {
            movements: {
              type: Object
            },
            balance: {
              type: Object
            },
            iban: {
              type: String
            },
            userId: {
              type: Number
            },
            error: {
              type: String
            }
          };
        }
        _onNewMovement() {
          this.error = null;
          var data = {'iban': this.iban, 'balance': this.balance.amount, 'userId': this.userId};
          this.dispatchEvent(new CustomEvent('doNewMovement', {detail: data}));
        }
        _onPosicionGlobal() {
          this.error = null;
          var user = {'id': this.userId};
          this.dispatchEvent(new CustomEvent('goAccounts', {detail: user}));
        }
        visualizeMovements(data) {
          this.error = null;
          console.log('visualizeMovements:');
          console.log(data);
          this.movements = data.data.detail;
          this.userId = data.userId;
          this.iban = data.iban;
          var sumBalance = 0;
          for (var i = 0; i < this.movements.length; i++) {
            console.log(sumBalance);
            console.log(this.movements[i]);
            sumBalance += this.movements[i].amount.value;
          }
          this.balance = {
            'amount': sumBalance,
            'scale': 0,
            'currency': 'EUR'
          };

          console.log('Lista de movimientos a visualizar.');
          console.log(this.movements);
        }

        visualizeError(error) {
          console.log('visualizeError ');
          if (error.msg === null) {
            this.error = 'Se ha producido un error técnico. Por favor, vuelve a intentarlo más tarde';
          } else {
            this.error = error.msg;
          }

          this.$.listMovements.loading = false;
        }
      }
      customElements.define(MovementsVw.is, MovementsVw);
    }
  </script>
</dom-module>
