<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">

<dom-module id="register-vw">
  <template is="dom-bind" id="register">
    <template is="dom-if" if="[[error]]">
      <cells-icon-message
          type='error'
          icon="coronita:error"
          icon-label="Error"
          heading="Se ha producido un error técnico"
          icon-size="26"
          message="[[error]]">
      </cells-icon-message>
    </template>
    <p><cells-molecule-input label="Nombre" type="text" value="{{first_name}}"></cells-molecule-input>
    <cells-molecule-input label="Apellidos" type="text" value="{{last_name}}"></cells-molecule-input>
    <cells-molecule-input label="Telefono" type="number" value="{{phone}}"></cells-molecule-input>
    <cells-molecule-input label="Dirección" type="text" value="{{address}}"></cells-molecule-input>
    <cells-molecule-input label="Email" type="email" value="{{email}}"></cells-molecule-input>
    <cells-molecule-input label="Password" type="password" value="{{password}}"></cells-molecule-input>
    <p>
    <center>
      <cells-st-button>
        <button on-click="_onNewUser">Enviar</button>
      </cells-st-button>
    <center>
      <p>
    <center>
      <cells-st-button >
        <button on-click="_onCancelRegister">Cancelar</button>
      </cells-st-button>
    </center>
  </template>

  <script>
    {
      class RegisterVw extends Polymer.Element {
        static get is() {
          return 'register-vw';
        }

        static get properties() {
          return {
            email: {
              type: String
            },
            first_name: {
              type: String
            },
            last_name: {
              type: String
            },
            phone: {
              type: String
            },
            address: {
              type: String
            },
            password: {
              type: String
            },
            error: {
              type: String
            }
          };
        }
        _onNewUser() {
          console.log('_onNewUser');
          var user = {
            'first_name': this.first_name,
            'last_name': this.last_name,
            'email': this.email,
            'phone': this.phone,
            'address': this.address,
            'password': this.password
          };
          console.log(user);
          this.dispatchEvent(new CustomEvent('doRegister', {detail: user}));
        }

        viewError(error) {
          console.log('viewError');
          if (error === null) {
            this.error = 'Por favor, vuelve a intentarlo más tarde';
          } else {
            this.error = error.msg;
          }

        }

        _onCancelRegister() {
          console.log('_onCancelRegister');
          this.dispatchEvent(new Event('doCancelRegister'));
        }

        resetView() {
          this.first_name = null;
          this.last_name = null;
          this.email = null;
          this.password = null;
          this.phone = null;
          this.address = null;
          this.error = null;
        }

      }
      customElements.define(RegisterVw.is, RegisterVw);
    }
  </script>
</dom-module>
