<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="login-dm">
  <template>

    <cells-generic-dp
      id="postLogin"
      host="http://localhost:3000"
      path="apitechu/v2/login"
      method="POST"
      on-request-success="_onRequestSuccessLogin"
      on-request-error="_onRequestErrorLogin">
    </cells-generic-dp>
  </template>

  <script>
    {
      // Define the element's API using an ES2015 class
      class LoginDM extends Polymer.Element {
        static get is() {
          return 'login-dm';
        }

        // Declare properties for the element's public API
        static get properties() {
          return {
            email: {
              type: String,
              notify: true
            },
            password: {
              type: String,
              notify: true
            },
            error: {
              type: String
            },
            userIdGlob: {
              type: Number
            }
          };
        }
        _onRequestSuccessLogin(data) {
          console.log('_onRequestSuccessLogin');
          console.log(data);
          this.dispatchEvent(new CustomEvent('doPostLogin-success', data));
        }

        _onRequestErrorLogin(error) {
          console.log('_onRequestErrorLogin');
          console.log(error);
          this.dispatchEvent(new CustomEvent('doPostLogin-error', error));
        }

        doPostLogin(data) {
          console.log('doPostLogin');
          console.log(data);

          var loginData = {
            'email': data.userId,
            'password': data.password
          };
          this.$.postLogin.body = JSON.stringify(loginData);
          this.$.postLogin.generateRequest();
          this.dispatchEvent(new Event('doPostLogin-start'));
        }
      }

      // Register the custom element with the browser
      customElements.define(LoginDM.is, LoginDM);
    }
  </script>
</dom-module>
