<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/cells-select/cells-select.html">

<dom-module id="stocktransaction-vw">
  <template>
    <cells-generic-dp
      id="newMovement"
      host="http://localhost:3000"
      path="apitechu/v2/movements"
      method="POST"
      on-request-success="_onRequestSuccessCreateMovement"
      on-request-error="_onRequestErrorCreateMovement">
    </cells-generic-dp>

    <template is="dom-if" if="[[error]]">
      <cells-icon-message
          type='error'
          icon="coronita:error"
          icon-label="Error"
          heading="Se ha producido un error"
          icon-size="26"
          message="[[error]]">
      </cells-icon-message>
    </template>
    <template is="dom-if" if="[[info]]">
      <cells-icon-message
          type='success'
          icon="coronita:correct"
          icon-label="Error"
          heading="¡¡Operación ejecutada!!"
          icon-size="26"
          message="[[info]]">
      </cells-icon-message>
    </template>
    <p></p>
    <cells-select id="movementTypeId" selected="{{movementTypeSel}}" value="{{movementType}}" label="Tipo de movimiento" right-icon="coronita:unfold">
     <div>Comprar</div>
     <div>Vender</div>
    </cells-select>
    <cells-molecule-input label="Numbero de acciones" type="number" value="{{stocksNumber}}"></cells-molecule-input>
    <p></p>
    <center>
      Acciones de {{stockName}} a {{stockPrice}} USD/acción ({{stockPriceEUR}} EUR/acción)
    </center>

    <p>
    <center>
      <cells-st-button>
        <button on-click="_onNewMovement">
          <iron-icon icon="coronita:add"></iron-icon>
          Ejecutar orden</button>
      </cells-st-button>
    <center>
      <p>
    <center>
      <cells-st-button >
        <button on-click="_onCancel">
            <iron-icon icon="coronita:back"></iron-icon>
          Volver</button>
      </cells-st-button>
    </center>
  </template>

  <script>
    {
      class StockTransactionVw extends Polymer.Element {
        static get is() {
          return 'stocktransaction-vw';
        }

        static get properties() {
          return {
            iban: {
              type: String
            },
            userId: {
              type: Number
            },
            stockName: {
              type: String
            },
            stockPrice: {
              type: Number
            },
            stockPriceEUR: {
              type: Number
            },
            actualBalance: {
              type: Number
            },
            movementType: {
              type: String
            },
            movementDesc: {
              type: String
            },
            movementAmount: {
              type: Number
            },
            movementCategory: {
              type: String
            },
            error: {
              type: String
            },
            info: {
              type: String
            },
            movementCategorySel: {
              type: Number
            },
            movementTypeSel: {
              type: Number
            }
          };
        }

        _onNewMovement() {
          console.log('_onNewMovement');
          this.error = null;
          var validParams = true;
          console.log(this.movementType);
          console.log(this.stocksNumber);
          console.log(this.stockName);
          console.log(this.stockPrice);
          if (this.movementType === '' || this.movementType === null) {
            this.error = 'Tipo de orden no informada.';
            validParams = false;
          }
          if (this.stocksNumber === '' || this.stocksNumber === null) {
            this.error = 'Número de acciones no informado.';
            validParams = false;
          }


          if (validParams) {
            var desc = 'Venta de acciones de';
            var amount = this.stockPriceEUR * this.stocksNumber;
            if (this.movementType === 'Comprar') {
              amount = 0 - amount;
              desc = 'Compra de acciones de';
            }
            desc = desc + this.stockName;
            var movement = {
              'iban': this.iban,
              'timestamp': new Date().toISOString().substr(0, 19),
              'desc': desc,
              'amount': amount,
              'categoryCode': '2',
              'categoryDesc': 'Operativa de valores'
            };
            console.log(movement);
            console.log(JSON.stringify(movement));
            this.$.newMovement.body = JSON.stringify(movement);
            this.$.newMovement.generateRequest();
            this.dispatchEvent(new Event('doPostTransactionStock-start'));
          }

        }
        _onRequestSuccessCreateMovement(data) {
          console.log('_onRequestSuccessCreateMovement');
          this.info = 'Operación creado correctamente.';
          this.error = null;
          this.movementTypeSel = null;
          this.movementCategorySel = null;
          this.movementDesc = null;
          this.movementAmount = null;
          console.log(data);
          this.dispatchEvent(new CustomEvent('doPostTransactionStock-success', data));

        }
        _onRequestErrorCreateMovement(data) {
          console.log('_onRequestErrorCreateMovement');
          console.log(data);
          this.error = 'Error al ejecutar la operación.';
          this.info = null;
          this.dispatchEvent(new CustomEvent('doPostTransactionStock-error', data));
        }


        _onCancel() {
          console.log('_onCancel');
          console.log(this.iban);
          console.log(this.userId);
          var data = {'iban': this.iban, 'id': this.userId};
          console.log(data);
          this.info = null;
          this.dispatchEvent(new CustomEvent('doGetMovements', {detail: data}));
        }


        resetView(data) {
          console.log('resetView');
          console.log(data);
          this.error = null;
          this.info = null;
          this.movementTypeSel = null;
          this.movementCategorySel = null;
          this.iban = data.productId.iban;
          this.userId = data.productId.userId;
          this.stockName = data.productId.stockName;
          this.stockPrice = data.productId.price;
          this.stockPriceEUR = data.productId.price / 1.12;
          this.movementType = null;
          this.movementDesc = null;
          this.stocksNumber = null;
          this.movementCategory = null;


        }
      }

      customElements.define(StockTransactionVw.is, StockTransactionVw);
    }
  </script>
</dom-module>
