<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="register-dm">
  <template>

    <cells-generic-dp
      id="newUser"
      host="http://localhost:3000"
      path="apitechu/v2/users"
      method="POST"
      on-request-success="_onRequestSuccessCreateUser"
      on-request-error="_onRequestErrorCreateUser">
    </cells-generic-dp>
    <cells-generic-dp
      id="newAccount"
      host="http://localhost:3000"
      path="apitechu/v2/accounts"
      method="POST"
      on-request-success="_onRequestSuccessCreateAccount"
      on-request-error="_onRequestErrorCreateAccount">
    </cells-generic-dp>
  </template>

  <script>
    {
      class RegisterDM extends Polymer.Element {
        static get is() {
          return 'register-dm';
        }

        static get properties() {
          return {
            email: {
              type: String,
              notify: true
            },
            password: {
              type: String,
              notify: true
            },
            error: {
              type: String
            },
            userIdGlob: {
              type: Number
            }
          };
        }
        _onRequestSuccessCreateUser(data) {
          console.log('_onRequestSuccessCreateUser');
          var account = {};
          account.userId = data.detail.id;
          account.iban = 'ES090182' + Math.floor((Math.random() * 1000000000000) + 1);
          account.balance = 0;
          account.desc = 'Cuenta personal';
          console.log(account);
          this.$.newAccount.body = JSON.stringify(account);
          this.$.newAccount.generateRequest();
        }
        _onRequestSuccessCreateAccount(data) {
          console.log('_onRequestSuccessCreateAccount');
          console.log(data);
          this.dispatchEvent(new CustomEvent('doPostUser-success', data));
        }

        _onRequestErrorCreateUser(error) {
          console.log('_onRequestErrorLogin');
          console.log(error);
          this.dispatchEvent(new CustomEvent('doPostUser-error', error));
        }
        _onRequestErrorCreateAccount(error) {
          console.log('_onRequestErrorCreateAccount');
          console.log(error);
          this.dispatchEvent(new CustomEvent('doPostUser-error', error));
        }

        doPostUser(data) {
          console.log('doPostUser');
          console.log(data);
          this.$.newUser.body = JSON.stringify(data);
          this.$.newUser.generateRequest();
          this.dispatchEvent(new Event('doPostUser-start'));
        }
      }

      customElements.define(RegisterDM.is, RegisterDM);
    }
  </script>
</dom-module>
