<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/cells-select/cells-select.html">

<dom-module id="newmovement-vw">
  <template>
    <cells-generic-dp
      id="newMovement"
      host="http://localhost:3000"
      path="apitechu/v2/movements"
      method="POST"
      on-request-success="_onRequestSuccessCreateMovement"
      on-request-error="_onRequestErrorCreateMovement">
    </cells-generic-dp>
    <template is="dom-if" if="[[error]]">
      <cells-icon-message
          type='error'
          icon="coronita:error"
          icon-label="Error"
          heading="Se ha producido un error"
          icon-size="26"
          message="[[error]]">
      </cells-icon-message>
    </template>
    <template is="dom-if" if="[[info]]">
      <cells-icon-message
          type='success'
          icon="coronita:correct"
          icon-label="Error"
          heading="Movimiento creado correctamente"
          icon-size="26"
          message="[[info]]">
      </cells-icon-message>
    </template>
    <p></p>
    <cells-select id="movementTypeId" selected="{{movementTypeSel}}" value="{{movementType}}" label="Tipo de movimiento" right-icon="coronita:unfold">
     <div>Ingreso</div>
     <div>Reintegro</div>
    </cells-select>
    <cells-molecule-input label="Descripcion" type="text" value="{{movementDesc}}"></cells-molecule-input>
    <cells-molecule-input label="Importe" type="number" value="{{movementAmount}}"></cells-molecule-input>
    <cells-select id="movementCategoryId" selected="{{movementCategorySel}}" value="{{movementCategory}}" label="Categoria de movimiento" right-icon="coronita:unfold">
      <div>1-Ingresos</div>
      <div>2-Operativa de valores</div>
      <div>2-Alojamiento/Hotel</div>
      <div>9-Operación con tarjeta</div>
      <div>10-Recibo domiciliado</div>
      <div>11-Ocio</div>
     <div>9999-Pendiente de categorizar</div>
   </cells-select>

    <p>
    <center>
      <cells-st-button>
        <button on-click="_onNewMovement">
          <iron-icon icon="coronita:add"></iron-icon>
          Alta Movimiento</button>
      </cells-st-button>
    <center>
      <p>
    <center>
      <cells-st-button >
        <button on-click="_onCancel">
            <iron-icon icon="coronita:back"></iron-icon>
          Volver</button>
      </cells-st-button>
    </center>
  </template>

  <script>
    {
      class NewMovementVw extends Polymer.Element {
        static get is() {
          return 'newmovement-vw';
        }

        static get properties() {
          return {
            iban: {
              type: String
            },
            userId: {
              type: Number
            },
            actualBalance: {
              type: Number
            },
            movementType: {
              type: String
            },
            movementDesc: {
              type: String
            },
            movementAmount: {
              type: Number
            },
            movementCategory: {
              type: String
            },
            error: {
              type: String
            },
            info: {
              type: String
            },
            movementCategorySel: {
              type: Number
            },
            movementTypeSel: {
              type: Number
            }
          };
        }

        getTimestamp() {
          var date = new Date();
          return date.getFullYear().toString() + '-' + date.getMonth() + '-' + date.getDate()
           + ' ' +  date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
        }

        _onNewMovement() {
          console.log('_onNewMovement');
          this.error = null;
          var validParams = true;
          var test = 0;
          test = test + this.movementAmount;
          console.log(this.movementDesc);
          console.log(this.movementAmount);
          console.log(this.movementCategory);
          console.log(this.movementType);
          if (this.movementDesc === '' || this.movementDesc === null) {
            this.error = 'Descripcion no informada.';
            validParams = false;
          }
          if (this.movementAmount === '' || this.movementAmount === null) {
            this.error = 'Importe no informado.';
            validParams = false;
          }
          if (this.movementCategory === '' || this.movementCategory === null) {
            this.error = 'Categoría no informada.';
            validParams = false;
          }

          if (validParams) {
            var category = this.movementCategory.split('-');
            var amount = Number(this.movementAmount);
            if (this.movementType === 'Reintegro') {
              amount = 0 - Number(this.movementAmount);
            }
            var movement = {
              'iban': this.iban,
              'timestamp': new Date().toISOString().substr(0, 19),
              'desc': this.movementDesc,
              'amount': amount,
              'categoryCode': category[0],
              'categoryDesc': category[1]
            };
            console.log(movement);
            console.log(JSON.stringify(movement));
            this.$.newMovement.body = JSON.stringify(movement);
            this.$.newMovement.generateRequest();
            this.dispatchEvent(new Event('doPostMovement-start'));
          }

        }
        _onRequestSuccessCreateMovement(data) {
          console.log('_onRequestSuccessCreateMovement');
          this.info = 'Movimiento creado correctamente.';
          this.movementTypeSel = null;
          this.movementCategorySel = null;
          this.movementDesc = null;
          this.movementAmount = null;
          console.log(data);
          this.dispatchEvent(new CustomEvent('doPostMovement-success', data));

        }
        _onRequestErrorCreateMovement(data) {
          console.log('_onRequestErrorCreateMovement');
          console.log(data);
          this.dispatchEvent(new CustomEvent('doPostMovement-error', data));
        }

        _onCancel() {
          console.log('_onCancel');
          var data = {'productId': {'iban': this.iban, 'userId': this.userId}};
          this.info = null;
          this.dispatchEvent(new CustomEvent('doGetMovements', {detail: data}));
        }


        resetView(data) {
          console.log('resetView');
          console.log(data);
          this.error = null;
          this.info = null;
          this.movementTypeSel = null;
          this.movementCategorySel = null;
          this.iban = data.iban;
          this.actualBalance = data.balance.amount;
          this.userId = data.userId;
          this.movementType = null;
          this.movementDesc = null;
          this.movementAmount = null;
          this.movementCategory = null;
        }
      }

      customElements.define(NewMovementVw.is, NewMovementVw);
    }
  </script>
</dom-module>
